artifacts.zip
/dist

*.log

.DS_Store
.idea
.node-version
.sbt
.sbt.*

log
logs
ivy-sbt
target
.target
/*/bin/

RUNNING_PID

*.sublime-*

local.sbt

node_modules
jspm_packages

# Eclipse #
.project
.classpath
.settings/
.metadata
.classpath
.springBeans
.cache

# Scala test framework #
local.conf

#Node Version Manager
.nvmrc
